body{
  background-color: #d7e8ff29;

}

.container{
  width: 960px;
  margin: 0 auto;
  padding-top:0;
}

.gnb{
  position: relative;
  font-size: 13px;
  height: 31px;
  margin-bottom: 30px;
  background-color: rgb(77,153,244,0.7);
  border: 1px solid rgb(77,153,244,0.7);
  /*background: -webkit-linear-gradient(top,rgb(77,153,244), rgb(77,153,244,0.7));*/
}
.gnb>ul{
  position: absolute;
  top: 32px;
  left: -1px;
  right: -1px;
  height: 0;
  margin:0;
  padding: 0;
  list-style: none;
}

.gnb>ul>li {
  position: relative;
  top: -32px;
  float: left;
  margin: 0 -1px -8px 0;
}

.gnb>ul>li>a {
  display: block;
  border-left: 1px solid rgb(77,153,244,0.7);
  border-right: 1px solid rgb(77,153,244,0.7);
  line-height: 32px;
  padding: 0 20px;
  color :#4a4a4a;
  font-size: 13px;
  font-weight: bold;
  position: relative;

}

.gnb a:hover {
  color: #f1f1f1;
}


.log_in>form>fieldset {
  position: absolute;
  z-index: 2;
  width: 229px;
  top: 30px;
  display: none;
  border: 0;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin: 0;
  padding: 20px 16px 18px 16px;
  box-shadow: 0 1px 0 #aaa;
}
.log_in label {
  display: block;
  margin: 0 0 5px 0;
  color: #666;
  font-size: 12px;
}

.log_in input[type="text"], .log_in input[type="password"] {
  height: 21px;
  line-height: 21px;
  padding: 0 4px;
  margin: 0 0 10px 0;
  width: 219px;
  background: #f6f6f6;
  border: 1px solid #d6d6d6;
  border-top: 2px solid #bfbebe;
  border-bottom: 0;
  box-shadow: 0 1px 0 #eae9e9 inset;
}

.log_in input[type="submit"] {
  background: rgb(77,153,244,0.4);
  border: 1px solid rgb(77,153,244,0.5);
  color: #4a4a4a;
  font-size:13px;
  font-weight: bold;
  line-height: 27px;
  padding: 0 20px;
  margin: 0;
  vertical-align: top;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 0 #aaa inset;
}

.log_in .close {
  background: none;
  border: 0;
  color: rgb(77,153,244,0.4);
  font-size: 22px;
  position: absolute;
  top: 10px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  font-weight: normal;
}

a{
  text-decoration:none;
}

h1>a{
  color:rgb(77, 153, 244);
}

h1{
  margin: auto;
  margin-right: 390px;
  width: fit-content;
}

.header{
  position: relative;
  margin: 0 0 30px 0;
}
.header>.side{
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
}

.header>.search{
    display: inline-block;
    margin:0;
}

.header .search>input {
    font-size: 12px;
    vertical-align: top;
}

.header .search>input[type="text"] {
    border: 1px solid #dedede;
    height: 21px;
    line-height: 21px;
    padding: 0 4px;
    margin: 0 -6px 0 0;
    width: 126px;
}
/*------------------header ë---------------*/

.body_main{
    margin:0 auto;
    padding: 0px 10px 0;
    width:fit-content;
  }

.question_part{
    height: 150px;
  }

.answer_part{
    height: 50%;
    margin-top: 20px;

}

  th,tr{
    border: 1px solid  rgb(80,80,80);
  }

  .question_part>table{
    width: 900px;
    height: 90%;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    color: #4a4a4a;
    font-size: 13px;

  }

  .delete_btn{
    width:100%;
    margin-top: 5px;
  }

  .delete_btn>input[type="button"]{
    margin-right: 5px;
    width:50px;
    float: right;
    display: inline-block;
    padding: 0 12px!important;
    margin: 0;
    font-size: 12px;
    line-height: 24px!important;
    height: 25px!important;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background-color: #ECECEC;
    border: 0;
    border-radius: 2px;
    text-shadow: none;
    color: #000;
    box-shadow: none;
  }

  .buttons{
    margin: auto;
    width: fit-content;
    margin-top: 40px;
  }

  .buttons>input[type="button"]{
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 3px #d1d1d1;
    border: 0px solid  rgb(80,80,80);
    border-radius: 15px;
    background: transparent;
    color :rgb(80,80,80);
    font-size: 15px;
    font-weight: bold;
  }

.line{height: 25px;}

.answer{
  margin-top:40px;
  display: flex;
}

.img{
  float: left;
  width: 15%;
  display: flex;
  justify-content:center;
  align-items:center
}

.rating{
    border:0px;
    background-color:transparent;
}

.answer_box {
  width: 100%;
	position: relative;
  background: rgb(77, 153, 244,.7);
  border-radius: 13px;
  box-shadow: 2px 2px 3px #d1d1d1

}
.answer_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;

}

.answer_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgb(77, 153, 244,.7);
	border-width: 12px;
	margin-top: -15px;
}
.answer_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 21px;
	margin-top: -21px;
}
