            <nav class="gnb" id="gnb">
                <ul>
                    <li class="go_write"><a href='/board_write'>작성하기</a></li>
                    {% if request.session.user == "admin"%}
                    <li class="go_answers"><a href='/reinforce_view'>댓글보기</a></li>
                    <li class="go_answers"><a href="/log_out">로그아웃</a></li>
                    {% else%}
                    <li class="log_in"><a href="#acField" onclick="openField()">로그인</a><form id="log_in_widget" action="/log_in" method="post">
                        <fieldset id="acField">
                            <h2 style="color:#4a4a4a">로그인</h2>
                            <div class="idpw">
                                {%csrf_token%}
                                <label for="user_id">아이디</label>	<input name="user_id" id="user_id" type="text" required="">
                                <label for="user_pw">비밀번호</label><input name="user_pw" id="user_pw" type="password" required="">
                            </div>
                           <input type="submit" value="로그인">
                        <button type="button" class="close" onClick="closeField()">×</button></fieldset>
                    </form></li>
                    {% endif %}
                    <li style="float: right;"> <p style="font-size: 13px;color:#444;">2019년 이후의 기사들만 검색 가능합니다.</p></li>

                    <script>
                        function openField() {
                        document.getElementById("acField").style.display = "block";
                      }
                      function closeField() {
                        document.getElementById("acField").style.display = "none";
                      }
                    </script>
                </ul>
            </nav>
            <header class="header">
                <h1><a href="/index"><img src="static/img/baseball-player.png" style="height: 90px;">PLAY-BALL</a></h1>
            </header>
