    {%extends "base_head.html"%}
    {% load static %}

    {%block body%}
        <div class="container">

            {%include "base_navbar.html"%}

            <div class="body_main" role="main" style="height:200px;">

                <form action="/board_insert" id="frmQuestion" style="height: 100%;">

                    <textarea class ="question" name="question" style="" placeholder="원하는 날짜 또는 팀을 입력하면 좀 더 좋은 결과를 볼 수 있어요 :)&#13;&#10;예) 두산 베어스 주장은 누구인가요?&#13;&#10;&#13;&#10;&#13;&#10;시즌 주요 부문 기록도 확인할 수 있어요!&#13;&#10;예) 2020년 다승 1위는 누구인가요?&#13;&#10;===================================================================&#13;&#10;&#13;&#10;결과에 대해 만족도 응답을 해주면 더 좋은 시스템을 만드는 데 도움을 줄 수 있어요 ^^"></textarea>
                    <div class="information">
                        <input type="text" placeholder="작성자" name="writer" style="height: 18.4px;">
                        <input type="password" placeholder="비밀번호" name="password" style="height: 18.4px;">
                        <input type="button"  value="등록" onclick="showConfirm();">
                        <input type="button"  value="취소" onclick="location.href='/index'">
                    </div>
                </form>
            </div>

            <script>
                var frm = document.getElementById('frmQuestion')
                 function showConfirm() {
                 if( frm.writer.value=="" || frm.question.value=="" || frm.password.value==""){
                    alert("빈칸을 채워 주세요")
                    }else{
                        if (confirm("질문 등록 후 수정은 불가능 합니다.")){
                            frm.submit();
                        }
                    }
                }
            </script>
        </div>
    </body>

    {%endblock%}

    </html>
